


.container {
  display: flex;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

.cont {
  flex: 1;
  padding: 43px 0px ;
  padding-left: 20px;
  margin:20px;
  
}
.contain {
  flex: 1;
  padding: 80px 85px 0px 0px;
  margin:20px;
}

.side {
  background-color: #ba2828;
}

.form {
  background-color: #fff;
}

/* Media Query for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .cont {
    padding: 20px;
  }

  .side {
    background-color: #ba2828;
    order: -1; 
  }
}
